PORT=3000
SESSION_SECRET=kaneki1845132772008107
GOOGLE_CLIENT_ID=869202345967-t70odeglggsib0lqvsd6orc74meeldv9.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
ALLOWED_GOOGLE_EMAIL=dina184513@gmail.com
